html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
ul,
button,
span,
body {
  margin: 0;
  padding: 0;
}

body {
  /* display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0; */

  box-sizing: border-box;
  font-family: "Mont", arial, helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
}
